@import 'theme.scss';
@include create-project(kite, true);

a {
  color: var(--kite-primary);
  text-decoration: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
mat-chip {
  background-color: transparent !important;
  color: var(--kite-on-background) !important;
}

h1,h2,h3,h4,h5 {
  margin: 0 !important;
}