:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  background-color: var(--kite-surface);
  padding: 24px;
  padding-bottom: 12px;

  border-radius: 5px;
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,.2));
  border-left: 4px solid;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
mat-chip-list {
  padding-top: 24px;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
mat-chip {
  border: 2px solid;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;

}

.kind {
  margin-top: -16px;
  margin-right: -16px;
  font-weight: 500;
}

.namespace {
  margin-bottom: 4px;
}

.fill{
  flex: 1;
}

.description {
  padding: 4px;
  border-left: 3px solid var(--dark, var(--kite8)) var(--light, var(--kite13));
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

a:hover {
  transition: all linear 120ms;
  filter: brightness(80%);
}
