<div class="header">
  <h3>
    <a class="path" href="{{ link?.path }}">{{ link?.name | titlecase }}</a>
  </h3>
  <div class="kind">{{ link?.kind }}</div>
</div>
<p class="description" *ngIf="link?.description">{{ link?.description }}</p>
<div class="namespace" *ngIf="link?.namespaceProperty">
  Namespace: {{ link?.namespaceProperty }}
</div>
<mat-chip-listbox
  class="tags"
  aria-label="Tags"
  *ngIf="link?.tags && (link?.tags || []).length > 0"
>
  <mat-chip-option
    [style.border-color]="selectTagColor(tag)"
    *ngFor="let tag of link?.tags"
    >{{ tag | titlecase }}</mat-chip-option
  >
</mat-chip-listbox>
