<div class="header">
  <h3>
    <a class="path" href="{{ link()?.path }}">{{ link()?.name | titlecase }}</a>
  </h3>
  <div class="kind">{{ link()?.kind }}</div>
</div>
@if (link()?.description) {
  <p class="description">{{ link()?.description }}</p>
}
@if (link()?.namespaceProperty) {
  <div class="namespace">
    Namespace: {{ link()?.namespaceProperty }}
  </div>
}
@if (link()?.tags && (link()?.tags || []).length > 0) {
  <mat-chip-listbox
    class="tags"
    aria-label="Tags"
    >
    @for (tag of link()?.tags; track tag) {
      <mat-chip-option
        [style.border-color]="selectTagColor(tag)"
        >{{ tag | titlecase }}</mat-chip-option
        >
      }
    </mat-chip-listbox>
  }
